<div class="preview pv-radio" data-preview="radio">
  <div class="dial-wrap">
    <div class="dial">
      <div class="dial-ticks" data-ticks style="--p:.42"></div>
      <div class="dial-center">
        <div class="dial-freq" data-freq>91.9<span class="unit">MHz</span></div>
        <div class="dial-station" data-station>CBS &middot; &#51020;&#50501;FM</div>
        <div class="dial-eq" aria-hidden="true"><i></i><i></i><i></i><i></i><i></i><i></i></div>
      </div>
    </div>
  </div>
</div>
